<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @student.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.LastName %>
</p>

<p>
  <strong>Index:</strong>
  <%= @student.Index %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
