<p id="notice"><%= notice %></p>

<p>
  <strong>Src:</strong>
  <%= @list_of_student.src %>
</p>

<p>
  <strong>Lang:</strong>
  <%= @list_of_student.lang %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @list_of_student.desc %>
</p>

<%= link_to 'Edit', edit_list_of_student_path(@list_of_student) %> |
<%= link_to 'Back', list_of_students_path %>
